---
title: OnVoard API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='https://onvoard.com'>OnVoard Home</a>
  - <a href='mailto:support@onvoard.com'>Contact Us</a>
  - <a href='https://github.com/lord/slate'>Powered by Slate</a>

search: true
---

# Introduction
You can use OnVoard's API to access various endpoints, and perform tasks in programmatic fashion such as sending email surveys via triggers. Currently, the key use cases supported by OnVoard's API are:

* Query reviews
* Send review requests
* Send interview requests
* Send surveys

# Authentication

```shell
# Api calls must be made with token header
curl 'https://api.onvoard.com/v1/reviews' \
-H 'Authorization: Token {API_KEY}'
```

OnVoard currently use api key for authentication. Go to [api details](https://console.onvoard.com/api-details) page to get your api key.
Add `Authorization: Token {API_KEY}` header to your api request for authentication.

<aside class="notice">
Currently only owner has access to api keys.
</aside>

# Pagination

```shell
# Return up to 50 records for page 3.
https://api.onvoard.com/v1/reviews?page=3&page_size=50
```

The default page size for paginated queries is **10**. You can increase the page size to return up to **100** records by specifying the `page_size` parameter in your GET request. You can traverse to specific page with the `page` parameter. Index for page starts from **1**.

# Errors

Any request that did not succeed will return a `4xx` or `5xx` error. `4xx` range errors means that there's a problem with the request, such as missing parameter. `5xx` range means that something went wrong on our end, such as server failure.


<%= partial "includes/accounts.md.erb" %>
<%= partial "includes/reviews.md.erb" %>
<%= partial "includes/review_requesters.md.erb" %>
<%= partial "includes/incentivized_reviewers.md.erb" %>
<%= partial "includes/interviews.md.erb" %>
<%= partial "includes/interview_requesters.md.erb" %>
<%= partial "includes/surveys.md.erb" %>
<%= partial "includes/survey_respondents.md.erb" %>
<%= partial "includes/stories.md.erb" %>
<%= partial "includes/recipients.md.erb" %>
<%= partial "includes/data_types.md.erb" %>
