---
title: OnVoard API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - shell

toc_footers:
  - <a href='https://onvoard.com'>OnVoard Home</a>
  - <a href='mailto:support@onvoard.com'>Contact Us</a>
  - <a href='https://github.com/lord/slate'>Powered by Slate</a>

search: true
---

# Introduction
You can use OnVoard's API to access various endpoints, such as retrieving contacts or add contact activities. Some key use cases supported by OnVoard's API includes:

* Retrieve contacts
* Create or update contact
* Retrieve activities for contact
* Add contact activities
* Retrieve reviews
* Export and backup data such as contacts information.


```shell
# Api calls must be made with token header
curl 'https://api.onvoard.com/v1/reviews' \
-H 'X-API-Key: {API_KEY}'
```

OnVoard currently use api key for authentication. Go to [api details](https://console.onvoard.com/api-details) page to get your api key.
Add `X-API-Key: {API_KEY}` header to your api request for authentication.

<aside class="notice">
Currently only owner has access to api keys.
</aside>

# Pagination

```shell
# Return up to 50 records for page 3.
https://api.onvoard.com/v1/reviews?page=3&page_size=50
```

The default page size for paginated queries is **10**. You can increase the page size to return up to **100** records by specifying the `page_size` parameter in your GET request. You can traverse to specific page with the `page` parameter. Index for page starts from **1**.

# Errors

Any request that did not succeed will return a `4xx` or `5xx` error. `4xx` range errors means that there's a problem with the request, such as missing parameter. `5xx` range means that something went wrong on our end, such as server failure.


<%= partial "includes/accounts.md.erb" %>
<%= partial "includes/contacts.md.erb" %>
<%= partial "includes/contact_activities.md.erb" %>
<%= partial "includes/resources.md.erb" %>
<%= partial "includes/resource_records.md.erb" %>
<%= partial "includes/resource_associations.md.erb" %>
<%= partial "includes/resource_association_records.md.erb" %>
<%= partial "includes/ecommerce_platforms.md.erb" %>
<%= partial "includes/ecommerce_sites.md.erb" %>
<%= partial "includes/products.md.erb" %>
<%= partial "includes/reviews.md.erb" %>
<%= partial "includes/data_types.md.erb" %>

